<div class="section1" style="background-image: url('assets/images/section1-background.jpg')">
  <div id="homepage-quote">
    <span>Others talk about problems - We solve them.</span>
  </div>
</div>
<div class="section1-bar">
  <span>Free Consultation (703) 893-0760</span>
</div>
<div class="section2">
  <div class="container">
    <span id="section2-title">Our Services</span><br>
    <span>
    We are a general practice law firm located in the heart of Fairfax County, Virginia. We have almost 30 years of experience in bankruptcy and<br>
    immigration law. Over the years, we have helped numerous clients from Northern Virginia and the Metropolitan Washington DC area. We <br>
    specialize in bankruptcy and immigration cases but we also provide services on other areas of law (family law, personal injury,<br>
    business transactions, incorporations, wills, and taxation).
  </span>
  <hr>
  </div>
  <div class="section2-left">
    <span id="section2-left-title">Bankruptcy</span>
    <div id="section2-left-image">
      <img src="{{imagesUrl.image1}}" alt="">
    </div>
    <div id="section2-left-description">
      <span>
        We are highly experienced in bankruptcy law, consumer bankruptcy, and<br>
        individual bankruptcy. We help you stop foreclosures, garnishments, liens, and<br>
        repossessions. We walk you through every step of the way with pragmatic and<br>
        sensible approaches.<br><br>

        Are you in financial distress and have creditors after you? Do you need<br>
        assistance in restructuring debt and getting out of debt the right way? We have<br>
        years of experience and have assisted thousands of clients getting out of the<br>
        hole and on to the right path.<br><br>
      </span>
    </div>
  </div>
  <div class="section2-right">
    <span id="section2-right-title">Immigration</span>
    <div id="section2-right-image">
      <img src="{{imagesUrl.image2}}" alt="">
    </div>
    <div id="section2-right-description">
      <span>
        We provide assistance to obtain green cards, work permits, student visas, fiancee visas,
        labor certifications and other immigration applications. We also provide<br>
        representation in removal or deportation proceedings.<br><br>

        Your immigration case will be handled by an experienced immigration attorney,<br>
        with only minimal involvement of legal assistants. When you call to inquire about<br>
        your immigration case, you will be talking with an immigration attorney to update<br>
        you with the status, not with a legal assistant.
      </span>
    </div>
  </div>
</div>
